body {
    background-color: #1488;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    text-shadow: 1px 1px 1px black;
    animation: 300ms latido infinite;
}


::-webkit-scrollbar {
    display: none;
}

@keyframes latido {
    0% {
        transform: scale(1.1)
    }
    50% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1);
    }
}